* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

.carousel{
    align-items: center;
    display: flex;
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
    width: 250px;
}

.carousel-imagenes{
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
}

img{
    border-radius: 20px;
}

button{
    background: teal;
    border: 0;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.25;
    position: absolute;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
}

#anterior{
    left: 5px;
}

#posterior{
    right: 5px;
}

